<!DOCTYPE HTML>
	<html>
		<head>
			<meta charset='utf-8'>
			<!-- Cette déclaration ne concerne que le navigateur Internet Explorer. Elle permet de s'assurer qu'il utilise la dernière version du moteur de rendu. -->
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<!-- Cette ligne concerne les mobiles. On demande que l'affichage occupe tout l'espace disponible avec une taill de 1, autrement dit sans zoom -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
						<!-- Déclaration du fichier css de bootstrap -->
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
			<!-- J'appelle mon fichier css perso, mais il sera intéressant à un moment donné de voir pour modifier directement bootstrap à la source -->
			<link rel="stylesheet" type="text/css" media='all' href="{{ asset('bundles/wwusarticle/css/layout.css')}}">
			{% block css %}
			{% endblock %}
			<!-- Les appels qui suivent ont pour objectif de permettre aux navigateurs ne prennt pas en charge HTML5 et les media queries css3 de le faire, en particulier pour IE8 -->
			<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
  				<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  				<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
			<![endif]-->
			<title>Web With Us</title>
		</head>
<!-- *********
**************
BODY   *******
**************
***********-->		
		<body>
		<div class="container-fluid ">

			<!-- Section menu Mobile *************************************************** -->
				<div class="menu">
					<ul>
						{% block menu %}
							<a href="{{ path('wwus_tags_index') }}"><li>TAGS</li></a>
						{% endblock %}
					</ul>
				</div>	
			<!-- Section contenu de la page -->
			<section>
				<div style="" class="row en-tete">
					<div class="col-xs-4">
						<a href="{{ path('wwus_blog_homepage') }}"><img class="logo-accueil" src="{{ asset('bundles/wwusarticle/image/wwus-logo-retour.png')}}"></a>
					</div>
					<div class="col-xs-4 section-titre">
						{% block titre %}
							<p>Article</p>
						{% endblock %}
					</div>
					<div class="col-xs-4">
						<div class="hamburger">
							<span></span>
						</div>
					</div>
				</div>
				<div class="row contenu fond-contenu">
					{% block contenu %}

					{% endblock %}
				</div>
				<div class="row pied-de-page ">
					{% block pied %}
					{% endblock %}
				</div>
			</section>
			

<!--*********************************************************************************
*************************************************************************************

						****** les appels JavaScript pour jQuery et bootstrap  ******
			<div class="row">
				<div class="col-xs-1 border">1</div>
				<div class="col-xs-1 border">2</div>
				<div class="col-xs-1 border">3</div>
				<div class="col-xs-1 border">4</div>
				<div class="col-xs-1 border">5</div>
				<div class="col-xs-1 border">6</div>
				<div class="col-xs-1 border">7</div>
				<div class="col-xs-1 border">8</div>
				<div class="col-xs-1 border">9</div>
				<div class="col-xs-1 border">10</div>
				<div class="col-xs-1 border">11</div>
				<div class="col-xs-1 border">12</div>
			</div>
*************************************************************************************
**********************************************************************************-->

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="{{ asset('bundles/wwusarticle/js/monJava.js') }}"></script>
		</div>
		</body>
	</html>