{% extends 'WwusExerciceBundle::layout.html.twig' %}
{% block titre %}
	<div class="row">
		<div class="col-xs-12 titre">Advert</div>
	</div>
{% endblock %}
	
{% block body%}
	<div class="tampon"></div>
{% for advert in adverts %}
	<div class="row">
		<a href="{{ path('wwus_advert_modif', {'id': advert.id} )}}"><div class="col-xs-offset-1 col-xs-9 intitule">Annonce n°{{ advert.id }} : {{ advert.intitule}}</div></a>
		<a href="{{ path('wwus_advert_supp', {'id': advert.id} )}}"><div class="col-xs-1 btn btn-danger">Supp</div></a>
	</div>
{% endfor %}
	<div class="tampon"></div>
	<div class="row ">
		<a href="{{ path('wwus_advert_new')}}"><div class="col-xs-offset-4 col-xs-4 btn btn-primary ">Nouvelle Annonce</div></a>
	</div>
{% endblock %}